<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418198135327-lh3ffv6mhlkbn9l3m7rho832asvcvmpl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418198135327-lh3ffv6mhlkbn9l3m7rho832asvcvmpl</string>
	<key>API_KEY</key>
	<string>AIzaSyAn6ioGJEZ-tQTL8znuJm1kt6G2uo4Y0Yk</string>
	<key>GCM_SENDER_ID</key>
	<string>418198135327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mickale.Baratie</string>
	<key>PROJECT_ID</key>
	<string>baratie-a8c34</string>
	<key>STORAGE_BUCKET</key>
	<string>baratie-a8c34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418198135327:ios:6ff5af934310db916c2b2a</string>
</dict>
</plist>